<main>
  <h1 class="page-title" style="margin-left: 10px">Anketler</h1>
  <p class="page-description" style="margin-left: 10px">
    Yapılabilecek olan anketler ve sonuçları bu sayfada bulunur.
  </p>
  <hr>
<form>
  <p class="form">1-Hangi takım şampiyon olur?</p>
<input type="radio" class="mat-radio-button" id="Fenerbahçe" name="fav_language" value="Fenerbahçe" checked>
<label for="Fenerbahçe">Fenerbahçe</label><br>
<input type="radio" class="mat-radio-button" id="Galatasaray" name="fav_language" value="Galatasaray">
<label for="Galatasaray">Galatasaray</label><br>
<input type="radio" class="mat-radio-button" id="Beşiktaş" name="fav_language" value="Beşiktaş">
<label for="Beşiktaş">Beşiktaş</label>
</form>
  <br>
  <form>
    <p class="form">2-Bu akşam ki maçı hangi takım kazanır?</p>
    <input type="radio" class="mat-radio-button" id="Ankaragücü" name="fav_language" value="Ankaragücü" checked>
    <label for="Ankaragücü">Ankaragücü</label><br>
    <input type="radio" class="mat-radio-button" id="Başakşehir" name="fav_language" value="Başakşehir">
    <label for="Başakşehir">Başakşehir</label><br>
    <input type="radio" class="mat-radio-button" id="Berabere kalır" name="fav_language" value="Berabere kalır">
    <label for="Berabere kalır">Berabere kalır</label>
</form>
  <br>
  <form>
    <p class="form">3-Son zamanlarda gündemden düşmeyen takım hangi takımdır?</p>
    <input type="radio" class="mat-radio-button" id="Trabzonspor" name="fav_language" value="Trabzonspor" checked>
    <label for="Trabzonspor">Trabzonspor</label><br>
    <input type="radio" class="mat-radio-button" id="Lüleburgazspor" name="fav_language" value="Lüleburgazspor">
    <label for="Lüleburgazspor">Lüleburgazspor</label><br>
    <input type="radio" class="mat-radio-button" id="Balıkesirspor" name="fav_language" value="Balıkesirspor">
    <label for="Balıkesirspor">Balıkesirspor</label>
    <br>
    <br>
    <input type="submit" class="btn-outline-secondary" value="Oyla" onclick="alert('Oylama Yaptığınız İçin Teşekkürler')">
  </form>
</main>
