<main>
  <h1 class="page-title">Anasayfa</h1>
  <p class="page-description">
    Sitemize hoşgeldiniz.
  </p>
  <hr>
  <!DOCTYPE html>
  <html>
  <body>
  <div class="slider">
    <span id="slide-1"></span>
    <span id="slide-2"></span>
    <span id="slide-3"></span>
    <span id="slide-4"></span>
    <span id="slide-5"></span>
    <div class="image-container">
      <div class="slide">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqW5DRXcGWUMNE7DsNXUD1ihbYwx3M248f9A&usqp=CAU" width="100%">
      </div>
      <div class="slide">
        <img src="https://iasbh.tmgrup.com.tr/8b42fe/425/362/0/0/752/640?u=https://isbh.tmgrup.com.tr/sbh/2023/05/25/son-dakika-galatasaray-transfer-haberleri-galatasaraya-cilgin-gelir-kasa-dolup-tasacak-2-yildizdan-tam-40-mily-1685000477690.jpg" width="100%">
      </div>
      <div class="slide">
        <img src="https://iasbh.tmgrup.com.tr/6f9bce/425/362/0/0/752/640?u=https://isbh.tmgrup.com.tr/sbh/2023/05/26/son-dakika-fenerbahce-transfer-haberi-fbahceli-yildiza-20-milyon-euro-sivas-macinda-izlediler-1685075879088.jpg" width="100%">
      </div>
      <div class="slide">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqW5DRXcGWUMNE7DsNXUD1ihbYwx3M248f9A&usqp=CAU" width="100%">
      </div>
      <div class="slide">
        <img src="https://iasbh.tmgrup.com.tr/6f9bce/425/362/0/0/752/640?u=https://isbh.tmgrup.com.tr/sbh/2023/05/26/son-dakika-fenerbahce-transfer-haberi-fbahceli-yildiza-20-milyon-euro-sivas-macinda-izlediler-1685075879088.jpg" width="100%">
      </div>
    </div>
    <div class="buttons">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
      <a href="#slide-4"></a>
      <a href="#slide-5"></a>
      <a href="#slide-6"></a>
    </div>
  </div>
  </body>
  </html>
</main>
