<main>
  <h1>Takımlar</h1>
  <p class="page-description">
    Daha önce oynanan oyunlar ve sonuçları bu sayfada bulunur.
  </p>
  <hr>
  <table class="table table-striped" >
    <caption>Takımlar ve Puanları</caption>
    <thead>
    <tr colspan="2">
      <th>Takım</th>
      <th>Skor</th>
    <tr *ngFor="let teams of team">
      <td> {{teams.takimadi}} </td>
      <td>{{teams.takimskor}}</td>
    </tr>
    </thead>
    </table>
  <table class="table table-striped-columns">
    <caption>Gelecek hafta eşleşmeleri</caption>
    <thead>
    <tr>
      <th>Birinci Takım</th>
      <th>İkinci Takım</th>
      <th>Tarih</th>
    </tr>
    <ng-container *ngFor="let team of firstHalf; let i = index">
      <tr>
        <td>{{ team.takimadi }}</td>
        <td>{{ secondHalf[i]?.takimadi }}</td>
        <td>{{ dates[i] }}</td>
      </tr>
    </ng-container>
    </thead>
    <tbody>
    </tbody>
  </table>
</main>
